* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: rgb(49,49,49);
}

.body-properties {
    margin: 100px;
}

#logo {
    max-width: 15%;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 30px 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    margin-right: 50px;
}

.hero-text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
}

.pricing-boxes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2vw;
}

#virtual-sms {
    background-color: rgb(77, 77, 77);
    padding: 25px;
    border-radius: 20px;
}

#real-cell {
    background-color: rgb(77, 77, 77);
    padding: 25px;
    border-radius: 20px;
}

.pricing-header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.price {
    color: rgb(34,34,34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px;
    font-size: 18px;
    text-align: center;
}

.pricing-desc {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}

h1 {
    font-size: 4vw;
    margin-bottom: 20px;
}

h2 {
    font-size: 2vw;
    font-weight: lighter;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 10px;
}

button {
    border: none;
    padding: 15px 32px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#webapp {
    background-color: rgb(242, 104, 34);
}

#download {
    background-color: rgb(77, 77, 77);
}

#download-link {
    text-decoration:none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-headers {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 40px;
}

h4 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: -35px;
    margin-bottom: 30px;
}

.CLI-instruction {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.terminal {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: rgb(34,34,34);
    padding: 15px;
    margin: 10px 0px;
    margin-bottom: 35px;
}

details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: 19px;
    line-height: 30px;
}

.question {
    color: rgb(242, 104, 34);
    cursor: pointer;
}

.answer {
    color: white;
}